# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# VS Code
.vscode/

# Build
build/
dist/

# Test
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db


.env
.env.local
.env.*

report/